---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
---

<Layout>
	<div id="work-main" class="px-32 py-16">
		<PageTitle title="Alexi Manning"/>
	</div>
</Layout>
