---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import PageSubtitle from '../components/PageSubtitle.astro';
---

<Layout>
	<div id="work-main" class="px-32 py-16 space-y-0">
		<PageSubtitle subtitle="Meet"/>
		<PageTitle title="Alexi Manning"/>
		<PageSubtitle subtitle="A blank-slate designer: passionate about learning new technologies, exploring different styles, and designing many projects!"/>
	</div>
	</div>
</Layout>
