---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import PageSubtitle from '../components/PageSubtitle.astro';
import WorkCard from '../components/WorkCard.astro';
---

<Layout>
	<div id="work-main" class="flex flex-col md:px-32 px-8 py-12 md:py-20 gap-0">
		<PageSubtitle subtitle="Meet"/>
		<PageTitle title="Alexi Manning"/>
		<PageSubtitle subtitle="A blank-slate designer: passionate about learning new technologies, exploring different styles, and designing many projects!"/>

		<div id="work-cards" class="flex flex-col py-12 md:py-20 gap-8 md:gap-16">
			<WorkCard title="UBC Kababayan Website"
			brief="Combining the outdated UBC Kababayan website and Carrd website into one easily accessible and maintainable website with a distinctly Filipino design style."
			type="Website" year="2026 (WIP)"
			link="https://ubckaba.org"
			demo="/demo-videos/KABA-Website.mp4"/>
			<WorkCard title="meduCA"
			brief="A retrofuturistic, space-themed wiki website to cleanly communicate the development of our 2025 bioengineering project, 'meduCA'."
			type="Website" year="2025"
			link="https://2025.igem.wiki/ubc-vancouver/"
			demo="/demo-videos/meduCA.mp4"/>
			<WorkCard title="UBC iGEM Website"
			brief="Revamping the UBC iGEM website to engage and attract potential sponsors and members."
			type="Website" year="2025"
			link="https://ubcigem.com/"
			demo="/demo-videos/iGEM-Website.mp4"/>
		</div>
	</div>
</Layout>
