---
import "../styles/global.css";
---

<div id="footer" class="grid grid-cols-5 w-full h-min bottom-0 z-50
border-solid border-black border-y md:border-y-2 divide-x md:divide-x-2 bg-white
content-center justify-center">
    <p id="lets-connect" class="text-black font-fustat -tracking-default text-xs md:text-lg font-extrabold bg-light-purple
    flex items-center justify-center py-1 md:py-2 text-center
    border-x md:border-x-2">
        Connect with me!
    </p>
    <a id="linkedin" href="https://linkedin.com/in/aleximanning" target="_blank" class="text-black font-fustat -tracking-default text-xs md:text-base font-bold underline
    hover:text-purple hover:no-underline transition-all duration-300
    flex items-center justify-center py-1 md:py-2">
        LinkedIn
    </a>
    <a id="email" href="mailto:aleximanning7@gmail.com" target="_blank" class="text-black font-fustat -tracking-default text-xs md:text-base font-bold underline
    hover:text-purple hover:no-underline transition-all duration-300
    flex items-center justify-center py-1 md:py-2">
        Email
    </a>
    <a id="github" href="https://github.com/aleeexi" target="_blank" class="text-black font-fustat -tracking-default text-xs md:text-base font-bold underline
    hover:text-purple hover:no-underline transition-all duration-300
    flex items-center justify-center py-1 md:py-2">
        GitHub
    </a>
    <a id="resume" href="https://drive.google.com/file/d/1Tcc8zqAlIZV6lHskR5Tgrtlf9nsJuPZA/view?usp=sharing" target="_blank"
    class="text-black font-fustat -tracking-default text-xs md:text-base font-bold underline border-r md:border-r-2
    hover:text-purple hover:no-underline transition-all duration-300
    flex items-center justify-center py-1 md:py-2">
        Resume
    </a>
</div>