---
import "../styles/global.css";
---

<div id="nav-bar" class="flex w-full h-16 sticky top-0 z-50
gap-0 content-end justify-end">
    <div id="nav-buttons"
    class="xl:flex justify-self-end text-center gap-0 hidden">
        <a id="work-button" href="/" class="bg-lilac border-x-2 border-t-2 border-solid border-black
        w-50 content-center mt-3 text-left px-10
        text-black font-fustat font-bold text-base -tracking-default
        hover:mt-1 transition-all duration-300 hover:bg-lavender">
            My Work
        </a>
        <a id="playground-button" href="/playground" class="bg-light-purple border-x-2 border-t-2 border-solid border-black
        w-50 content-center mt-3 text-left px-10
        text-black font-fustat font-bold text-base -tracking-default
        hover:mt-1 transition-all duration-300 hover:bg-lavender">
            Playground
        </a>
        <a id="about-button" href="/about" class="bg-white border-x-2 border-t-2 border-solid border-black
        w-50 content-center mt-3 text-left px-10
        text-black font-fustat font-bold text-base -tracking-default
        hover:mt-1 transition-all duration-300 hover:bg-lavender">
            About Me
        </a>
    </div>
</div>