---
import "../styles/global.css";

const { title } = Astro.props;
---

<div id="page-title">
    <p id="page-title-text" class="text-black font-fustat -tracking-default md:text-[80px] text-6xl font-medium">
        {title}
    </p>
</div>