---
import "../styles/global.css";

const { subtitle } = Astro.props;
---

<div id="page-subtitle">
    <p id="page-subtitle-text" class="text-black font-fustat -tracking-default text-2xl">
        {subtitle}
    </p>
</div>